<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<div id="background" class="row w-full">
  <div
    class="float-left color-white h-full text-slate-50 bg-white"
    id="sideNavChat"
  >
    <form (submit)="searchChat(searchQuery)">
      <div class="searchHeader">
        <i class="fa fa-search icon absolute" style="color: black"></i>
        <input
          type="text"
          placeholder="Search Chat ..."
          [(ngModel)]="searchQuery"
          name="query"
          class="input-field shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 placeholder:italic placeholder:text-slate-400 text-stone-950 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3"
        />

        <div class="pl-1">
          <button
            type="submit"
            class="inline-block cursor-pointer rounded px-3 pb-2 pt-1.5 font-medium uppercase leading-normal bg-cyan-700 text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-cyan-800 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
          >
            <svg
              class="h-8 w-8 text-teal-500"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" />
              <path d="M15 13l4 -4l-4 -4m4 4h-11a4 4 0 0 0 0 8h1" />
            </svg>
          </button>
        </div>
      </div>
    </form>
    <div class="content overflow-y-auto scrollbar-hide w-full h-5/6 px-4 py-2">
      <ul
        role="list"
        class="divide-y divide-lime-200 border border-lime-200 rounded-md"
      >
        <li
          *ngFor="let chatUser of userMatches; let i = index"
          (click)="fetchChats(chatUser.id)"
          class="flex justify-between gap-x-6 py-5 pl-4 cursor-pointer bg-green-100"
        >
          <div class="min-w-0 flex-auto">
            <p class="text-2xl truncate font-semibold text-gray-400">
              {{ chatUser.firstName }}
            </p>
            <!-- <p class="mt-1 truncate text-ls leading-5 text-neutral-300">
            Contacts last message
          </p> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="h-full float-left color-white text-slate-50 w-full"
    id="chatDisplay"
  >
    <nav
      class="w-full h-10 bg-gray-900 rounded-tr rounded-tl flex justify-between items-center"
    >
      <div class="flex justify-center items-center">
        <i class="mdi mdi-arrow-left font-normal text-gray-300 ml-1"></i>
        <img
          src="https://i.imgur.com/IAgGUYF.jpg"
          class="rounded-full ml-1"
          width="25"
          height="25"
        />
        <span class="text-3xl font-medium text-gray-300 ml-1"
          >{{ currentUser.firstName }} {{ currentUser.lastName }}</span
        >
      </div>
      <div class="flex items-center">
        <i class="mdi mdi-video text-gray-300 mr-4"></i>
        <i class="mdi mdi-phone text-gray-300 mr-2"></i>
        <i class="mdi mdi-dots-vertical text-gray-300 mr-2"></i>
      </div>
    </nav>
    <div #messagesList class="h-4/6 overflow-y-auto scrollbar-hide">
      <div class="content w-full">
        <ul role="list" class="divide-y divide-gray-200 w-full h-full">
          <li
            #messages
            *ngFor="let message of userMessages; let i = index"
            class="w-full py-3 pl-4"
          >
            <div
              class="flex items-center pr-10"
              *ngIf="message.senderId == currentUser.id"
            >
              <img
                src="https://i.imgur.com/IAgGUYF.jpg"
                class="rounded-full shadow-xl"
                width="15"
                height="15"
              />
              <span
                class="flex ml-1 h-auto bg-gray-900 text-gray-200 text-2xl font-normal rounded-sm px-1 p-1 items-end"
                >{{ message.content }}
                <span class="text-gray-400 pl-1 text-sm">{{
                  message.createdAt
                }}</span></span
              >
            </div>
            <div
              class="flex justify-end pt-2 px-5"
              *ngIf="message.senderId != currentUser.id"
            >
              <span
                class="bg-green-900 h-auto text-gray-200 text-2xl font-normal p-1 rounded-sm px-1 items-end flex justify-end"
              >
                {{ message.content }}
                <span class="text-gray-400 pl-1 text-sm">{{
                  message.createdAt
                }}</span></span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>

    <form (ngSubmit)="sendMessage()">
      <div class="h-1/6 w-full flex items-center">
        <i
          class="fa fa-pencil icon absolute color-slate-950"
          style="color: black"
        ></i>
        <input
          type="text"
          placeholder="Send a message"
          [(ngModel)]="newMessage"
          name="newMessage"
          disabled="{{ sendDisabled }}"
          class="input-field text-stone-950 shadow-sm text-gray-900 focus:outline-none focus:border-lime-500 focus:ring-lime-500 focus:ring-1 placeholder:italic placeholder:text-slate-600 text-slate-50 block bg-white m-0 border border-slate-300 rounded-md py-2 pl-1"
        />

        <div class="send">
          <button
            type="submit"
            class="inline-block cursor-pointer rounded-full p-2 font-medium uppercase leading-normal bg-blue-300 text-white"
          >
            <svg
              class="h-8 w-8 text-black"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <line x1="22" y1="2" x2="11" y2="13" />
              <polygon points="22 2 15 22 11 13 2 9 22 2" />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
